.App {
  text-align: center;
}


.footer {
  padding-top: 25px;
  float: right;
  position: static;
  bottom:0;
  width:100%;
  text-align: center;
  color: dodgerblue;
}

.ingredient-container{
  display: block; 
  padding-bottom: 50px;
}

.add-container{
  width: 50%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  float: left;
}

.ingredient-list-container{
  width: 50%;
  padding-left: 2.5%;
  border-left: 1px solid #D3D3D3;
  padding-right: 2.5%;
  float: right;
}

img {
  padding-left:5%;
  padding-right:5%;
  height: 500px;
}

p{
  font-family: Helvetica
}